.nav-route{
    font-size: 10px;
    padding: 1em 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    text-transform: uppercase;
}

.img-container{
  height: 450px;
  width: 450px;
  /* border-radius: 20px; */
  background-size: cover;
  background-position: center
}
