@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lato&display=swap');

#root{
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Cormorant Garamond', serif;
}

.nav-route{
    font-size: 0.7em;
    padding: 1em 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-link-tag{
    color: #777777;
}

.nav-link-tag:hover{
    color: #d6954b;
}
.page-width{
    display:flex;
    margin: auto;
    padding: 2em;
    max-width: 1040px;
}

.login-wrapper{
    padding: 2em;
    max-width: 600px;
    margin: 3em auto;
    border: 1px solid #dbdbdb
}

.login-input{
    padding: 0.5em;
    width: 100%;
    margin-bottom: 1em;
    letter-spacing: 3px;
    border: 1px solid #dbdbdb;
}

.cta{
    border: 1px solid #d6954b;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #777777;
    text-align: center;
    padding: 0.5rem 1rem;
    transition: .2s ease;
    background:transparent;
    height:40px;
}

.cta:hover{
    color: #d6954b;
    text-decoration: none;
}

.login-btn-wrapper{
    display:flex;
    justify-content: center;
}

.warning-text{
    color:red;
    font-style: italic;
    font-size: 0.8rem;
}

.create-acc{
    color:#d6954b;
    text-decoration: underline;
}

.create-acc:hover{
    text-decoration:none;
    color:#777777;
}

.edit-row{
    color: #777777;
}


.product-img{
    width:100%;
    height:350px;
    background-position: center;
    background-size: cover;
}

.small-text{
    font-size: 0.8em;
    color: #777777;
    font-style: italic;
}

.hero-img{
    object-fit: cover;
}

.product-indi-img{
    background-position: center;
    background-size: cover;
    height: 600px;
}

.product-indi-link{
    color: #4a4a4a;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.product-indi-link:hover{
    color: #d6954b;
}

.footer-wrapper{
    background-color: #f4f4f4;
    padding:2em;
}

.footer{
    display:flex;
    max-width: 1140px;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer-header{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.footer-list{
    padding:0;
}

.footer-link{
    list-style-type: none;
    margin-bottom: 0.7em;
}
.footer-link-cta{
    color:#777777;
}

.footer-link-cta:hover{
    color:#d6954b;
}

.footer-text{
    color: #777777;
}

.product-img-container{
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
}

.indi-img-container{
  height: 850px;
  width: 100%;
  /* border-radius: 20px; */
  background-size: cover;
  background-position: center;
}

.indi-title{
    color: #777777;
}

.indi-flavour{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.9em;
}

.indi-add-to-cart{
    background: #4a4a4a;
    border: none;
    color:white; 
    padding: 0.6em 2em;
}

.indi-add-to-cart:hover{
    color: #d6954b;
}

.indi-spacing{
    height:40px;
}

.indi-ingredient{
    font-style: italic;
    font-size: 0.9em;
}

.indi-table-container{
    background-color: #f4f4f4;
    border-radius: 1em;
    padding-top: 1em;
}

.indi-table-details{
    color: #4a4a4a;
}

.cart-img-container{
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
}

.grey-line{
    /* height:10px; */
    width:100%;
    border-bottom: 1px; 
    border-bottom-style: solid;
    border-bottom-color: #4a4a4a;
}

.cart-update-qty-box{
    display:flex;
    align-items: center;
}

.cart-update-qty{
    border: none;
    color: #4a4a4a;
    height: 100%;
}

.cart-qty-cta{
    border: none;
    background-color: white;
    color: #4a4a4a;
    padding: 0;
    position: absolute;
    top: 0%;
    right:2%
}

.cart-qty-cta:hover{
    color: #d6954b;
    text-decoration: underline;
}

.cart-indi-des{
    font-size: 0.8em;
}

.cart-indi-cost{
    position: absolute;
    right:2%;
    bottom:-10%;

}

.cart-total-cost{
    display:flex;
    justify-content: space-between;
    color: #4a4a4a;
}

.cart-checkout{
    display:flex;
    justify-content: center;
}